<div class="dashboard">
  <p>You've recorded <b>{{allConnections.length}}</b> connections.  Keep it up!</p>

    <h3>Connections made in {{selectedYear}}</h3>
    <div class="year-selection">
      {{#each year in connectionsByMonth}}
        <button {{action "setYear" year.year}} class="btn btn-default">{{year.year}}</button>
      {{/each}}
    </div>
    <table class="table">
      <tr>
        <th></th>
        {{#each month in currentYearConnections.months}}
          <th>{{month.name}}</th>
        {{/each}}
        <th class="year-column">{{currentYearConnections.year}}</th>
      </tr>

      {{#each mode in App.Connection.MODES}}
        <tr>
          <th>{{mode}}</th>
          {{#each month in currentYearConnections.months}}
            <td>
              {{connectionsLength month.connections modeBinding="mode"}}
            </td>
          {{/each}}
          <td class="year-column">
            {{connectionsLength currentYearConnections.connections modeBinding="mode"}}
          </td>
        </tr>
      {{/each}}

      <tr class="totals-row">
        <th>Total</th>
        {{#each month in currentYearConnections.months}}
            <td>
              {{month.connections.length}}
            </td>
        {{/each}}
        <td class="year-column">
          <b>{{currentYearConnections.connections.length}}</b>
        </td>
      </tr>
    </table>
</div>
