<div id="events-header">
  <h2>
    <span class="program-name">
      {{#if programFilter}}
        {{programFilter.name}}
      {{else}}
        {{session.organization}}
      {{/if}}
    </span>

    <div class="status-heading">
      {{#if isViewingPast}}
        Past Events
      {{else}}
        Upcoming Events
      {{/if}}
    </div>
  </h2>

  <div class="controls">
    {{#link-to 'events.new' id="add-event"}}
      Add event
    {{/link-to}}

    <a id="change-filter" {{action 'toggleFilter'}}>
      {{#if isChangingFilter}}
        Cancel
      {{else}}
        Filter
      {{/if}}
    </a>

    {{#if isChangingFilter}}
      {{#if isViewingPast}}
        {{#link-to 'events' programFilterSlug 'upcoming' id="filter-status"}}
          Upcoming Events
        {{/link-to}}
      {{else}}
        {{#link-to 'events' programFilterSlug 'past' id="filter-status"}}
          Past Events
        {{/link-to}}
      {{/if}}

      {{view 'select'
        id="select-program"
        class="form-control"
        content=programFilterOptions
        optionValuePath="content.slug"
        optionLabelPath="content.name"
        selection=selectProgramFilter
        prompt="Filter by program..."}}
    {{/if}}
  </div>
</div>


<div id="events">
  {{outlet}}

  <div id="events-list">
    {{#each eventDay in eventDays}}
      <h4 class="event-date">{{format-day eventDay.date}}</h4>
      <ul class="list-unstyled">
      {{#each event in eventDay.events }}
        <li class="event">
          {{#link-to 'event' event}}
            <span class="time">{{format-time event.startsAt}}</span>
            <span class="name">{{event.name}}</span>
            {{#if event.location }}
              <span class="location">at {{event.location}}</span>
            {{/if}}
            {{#if event.program }}
              <span class="program">{{event.program.name}}</span>
            {{/if}}
          {{/link-to}}
        </li>
      {{/each}}
      </ul>
    {{/each}}
  </div>
</div>