<div id="new-event" class="event-action">
  <form id="event-form">
    <h2>Add Event</h2>

    <div class="form-group">
      {{enriched-textfield
        id="event-name"
        class="form-control"
        value=name
        placeholder="Untitled event"
        autofocus=true}}
    </div>

    <div class="form-group">
      <label for="when">when:</label>
      {{date-field id="starts-at" date=startsAt includeTime=true}}
    </div>

    <div class="form-group">
      <label for="where">where:</label>
      {{input type="text" id="where" class="form-control" value=location}}
    </div>

    <div class="form-group">
      <label for="where">notes:</label>
      {{textarea id="notes" class="form-control" value=notes rows="10"}}
    </div>

    {{#if isSaving}}
      <div class="spin-button">
        <i class="icon-loading animate-spin"></i>
      </div>
    {{else}}
      <div class="cancel">
        {{#link-to 'events'}}
          cancel
        {{/link-to}}
      </div>

      <button id="save-event"
              class="btn btn-default"
              {{action "createEvent"}}
              {{bind-attr disabled="saveDisabled"}}>
        Create Event
      </button>
    {{/if}}
  </form>
</div>
