<div class="contact-panel">
  {{partial "partials/confirmation"}}

  <div class="clearfix">
    <div class="avatar clearfix">
      <img {{bind-attr src=pictureUrl}}></img>
      {{image-uploader resource="contacts" resourceId=id action="changeImage"}}
    </div>

    <div class="top-info">
      <div class="options">
        {{#link-to 'contact.edit' model}}
          <i class="icon-pencil"></i>
          Edit
        {{/link-to}}
        <a href {{action "deleteContact"}}>
          <i class="icon-trash"></i>
          Delete
        </a>
      </div>

      <h3>{{name}}</h3>
        <p>
          <b>from:</b>
          {{#if city}}
            {{city}}
          {{else}}
            unknown
          {{/if}}
        </p>

        <p>
          <b>birthday:</b>
          {{#if birthday}}
            {{formatDayOfYear birthday}}
          {{else}}
            unknown
          {{/if}}
        </p>

        <p>
          <b>last seen:</b>
          {{#if lastSeen}}
            {{formatDate lastSeen}}
          {{/if}}
        </p>
    </div>
  </div>

  <div class="bio">
    {{bio}}
  </div>

  <div class="connections">
    <h4>Add Connection</h4>
    <p class="add-connection-form">
      {{date-field id="newConnectionDate" date=newConnection.occurredAt}}
      {{textarea id="newConnectionNote" placeholder="Where? What happened? Any thing they need?" valueBinding="newConnection.note"}}

      <button class="btn btn-default" {{action "addConnection"}}>
        Save
      </button>
    </p>

    <h4>Past Connections</h4>

    {{#each sortedConnections}}
      <div class="connection clearfix">
        <div class="date">
          <div class="day">{{formatShortDate occurredAt}}</div>
          <div class="year">{{formatYear occurredAt}}</div>
        </div>
        <div class="note">{{breaklines note}}</div>
      </div>
    {{else}}
      <p> There are no connections for this person. </p>
    {{/each}}
  </div>
</div>

