<div class="contact-panel">
  <div class="clearfix">
    <div class="avatar clearfix">
      <img {{bind-attr src=pictureUrl}}></img>
      {{image-uploader resource="contacts" resourceId=id action="changeImage"}}
    </div>

    <div class="top-info">
      <div class="options">
        {{#link-to 'contact.edit' model}}Edit{{/link-to}}
      </div>

      <h3>{{name}}</h3>
        <p>
          <b>From:</b>
          {{#if city}}
            {{city}}
          {{/if}}
        </p>

        <p>
          <b>Birthday:</b>
          {{#if birthday}}
            {{formatDayOfYear birthday}}
          {{/if}}
        </p>

        <p>
          <b>Last Seen:</b>
          {{#if lastSeen}}
            {{formatDate lastSeen}}
          {{/if}}
        </p>
    </div>
  </div>

  <div class="bio">
    {{bio}}
  </div>

  <div class="connections">
  <h4>Connections</h4>
  {{#each connections}}
    <p>
      <b>On {{date}}</b>
      {{note}}
    </p>
  {{/each}}
  </div>
</div>

