<div class="contact-panel">
  <div class="control-bar clearfix">
    <div class="status">
      {{#unless isRemoteSynced}}
        Unsynced
      {{/unless}}
    </div>
    {{#control-group name="options"}}
      {{#link-to 'contact.edit' model}}
        <i class="fa fa-pencil"></i>
        Edit
      {{/link-to}}
      <a href {{action "deleteContact"}}>
        <i class="fa fa-trash-o"></i>
        Delete
      </a>
    {{/control-group}}
  </div>

  {{partial "partials/confirmation"}}

  <div class="clearfix">
    <div class="avatar clearfix">
      <img {{bind-attr src=pictureUrl}}></img>
      {{image-uploader resource="contacts" resourceId=id action="changeImage"}}
    </div>

    <div class="top-info">

      <h3>{{name}}</h3>
        <p>
          <b>from:</b>
          {{#if city}}
            {{city}}
          {{else}}
            unknown
          {{/if}}
        </p>

        <p>
          <b>birthday:</b>
          {{#if birthday}}
            {{formatBirthday birthday}}
          {{else}}
            unknown
          {{/if}}
        </p>

        <p>
          <b>last seen:</b>
          {{#if lastSeen}}
            {{formatDate lastSeen}}
          {{/if}}
        </p>
    </div>
  </div>

  <div class="bio">
    {{breaklines bio}}
  </div>

  <div class="connections">

    <div class="connections-header clearfix">
      <div class="right">
        {{#if addingConnection}}
          <button class="btn btn-link" {{action "cancelNewConnection"}}>
            Cancel
          </button>
        {{else}}
          <button id="add-connection" class="btn btn-default" {{action "newConnection"}}>
            Add Connection
          </button>
        {{/if}}
      </div>
      <div class="left">
        <h4>Connections</h4>
      </div>
    </div>

    {{#if addingConnection}}
      <div class="add-connection-form">
        <div class="form-group">
          {{date-field id="newConnectionDate" date=newConnection.occurredAt}}
        </div>

        <div class="form-group">
          {{focused-textarea id="newConnectionNote" class="form-control" placeholder="Where? What happened? Any thing they need?" valueBinding="newConnection.note"}}
        </div>

        <button id="save-connection" class="btn btn-default" {{action "saveConnection"}}>
          Save Connection
        </button>
      </div>
    {{/if}}

    {{#each sortedConnections}}
      {{connection-panel connection=this}}
    {{else}}
      <p> There are no connections for this person. </p>
    {{/each}}
  </div>
</div>

