<div class="contact-panel">
  <div class="control-bar clearfix">
    <div class="status">
      {{#unless isRemoteSynced}}
        Unsynced
      {{/unless}}
    </div>
    {{#control-group name="options"}}
      {{#link-to 'contact.edit' model}}
        <i class="fa fa-pencil"></i>
        Edit
      {{/link-to}}
      <a href {{action "deleteContact"}}>
        <i class="fa fa-trash-o delete-contact"></i>
        Delete
      </a>
    {{/control-group}}
  </div>

  {{partial "partials/confirmation"}}

  <div class="clearfix">
    <div class="avatar clearfix">
      <img {{bind-attr src=pictureUrl}}></img>
      {{image-uploader resource="contacts" resourceId=id action="changeImage"}}
    </div>

    <div class="top-info">

      <h3 id="contact-name">{{name}}</h3>
        <p>
          <b>from:</b>
          {{#if city}}
            {{city}}
          {{else}}
            unknown
          {{/if}}
        </p>

        <p>
          <b>birthday:</b>
          {{#if birthday}}
            {{formatBirthday birthday}}
          {{else}}
            unknown
          {{/if}}
        </p>

        <p id="last-seen">
          <b>last seen:</b>
          {{#if lastSeen}}
            {{formatDate lastSeen}}
          {{/if}}
        </p>
    </div>
  </div>

  <div class="bio">
    {{breaklines bio}}
  </div>

  <div class="connections">

    <div class="connections-header clearfix">
      <div class="right">
        {{#if addingConnection}}
          <button class="btn btn-link" {{action "cancelNewConnection"}}>
            Cancel
          </button>
        {{else}}
          <button id="add-connection" class="btn btn-default" {{action "newConnection"}}>
            Add Connection
          </button>
        {{/if}}
      </div>
      <div class="left">
        <h4>Connections</h4>
      </div>
    </div>

    {{#if addingConnection}}
      <div class="add-connection-form">
        <div class="form-group">
          {{date-field id="newConnectionDate" date=newConnection.occurredAt}}
        </div>

        <div class="form-group">
          {{focused-textarea id="newConnectionNote" class="form-control" placeholder="Where? What happened? Any thing they need?" valueBinding="newConnection.note"}}
        </div>

        <button id="save-connection" class="btn btn-default" {{action "saveConnection"}}>
          Save Connection
        </button>
      </div>
      {{#if errors.length}}
        <ul class="errors">
        {{#each errors}}
          <li>{{this}}</li>
        {{/each}}
        </ul>
      {{/if}}
    {{/if}}


{{#each sortedConnections}}
      {{connection-panel connection=this}}
    {{else}}
      <p> There are no connections for this person. </p>
    {{/each}}




  <div class="connections-header clearfix">
        <div class="right">
          {{#if addingRelationship}}
            <button class="btn btn-link" {{action "cancelNewRelationship"}}>
              Cancel
            </button>
          {{else}}
            <button id="add-connection" class="btn btn-default" {{action "newRelationship"}}>
              Add Relationship
            </button>
          {{/if}}
        </div>
        <div class="left">
          <h4>Relationships</h4>
        </div>
      </div>

          {{#each relationships}}
       {{relationship-panel relationship=this}}
    {{else}}
       <p> There are no relationships for this person. </p>
    {{/each}}


    {{#if addingRelationship}}
      <div class="add-connection-form">
        
        <div class="form-group">
         {{focused-textarea id="newRelationshipName" class="form-control" placeholder="Name" valueBinding="newRelationship.name"}}
        </div>

        <div class="form-group">
          {{focused-textarea id="newRelationshipNote" class="form-control" placeholder="Where? What happened? Any thing they need?" valueBinding="newRelationship.notes"}}
        </div>
        <div class="form-group">
         {{focused-textarea id="relationshipContactInfo" class="form-control" placeholder="Contact Info" valueBinding="newRelationship.contactInfo"}}
        </div>

         <div class="form-group">
         {{focused-textarea id="newRelationshipType" class="form-control" placeholder="Relationship Type" valueBinding="newRelationship.relationshipType"}}
        </div>

        <button id="save-relationship" class="btn btn-default" {{action "saveRelationship"}}>
          Save Relationship
        </button>
      </div>
      {{#if errors.length}}
        <ul class="errors">
        {{#each errors}}
          <li>{{this}}</li>
        {{/each}}
        </ul>
      {{/if}}
    {{/if}}

    
  </div>
</div>

