<div class="form-horizontal add-model-form">
        {{#if relationshipErrors.length}}
          <ul class="errors">
            {{#each relationshipErrors}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
        {{/if}}

        <div class="form-group">
          <label for="newRelationshipName" class="col-sm-3 control-label">name</label>

          <div class="col-sm-9">
            {{input type="text" id="newRelationshipName" class="form-control" valueBinding="newRelationship.name" value=this.name}}
          </div>
        </div>

        <div class="form-group">
          <label for="newRelationshipType" class="col-sm-3 control-label">relationship</label>

          <div class="col-sm-9">
            {{input type="text"
                id="newRelationshipType"
                class="form-control"
                valueBinding="newRelationship.relationshipType"
                placeholder="father, social worker, etc."
                value=this.relationshipType}}
          </div>
        </div>

        <div class="form-group">
          <label for="newRelationshipContactInfo" class="col-sm-3 control-label">contact info</label>

          <div class="col-sm-9">
            {{textarea id="newRelationshipContactInfo"
              class="form-control"
              valueBinding="newRelationship.contactInfo"
              value=this.contactInfo
              placeholder="phone number, email, etc."}}
          </div>
        </div>

        <div class="form-group">
          <label for="newRelationshipNote" class="col-sm-3 control-label">notes</label>

          <div class="col-sm-9">
            {{textarea id="newRelationshipNote"
              class="form-control"
              placeholder="Any additional notes about their relationship?"
              valueBinding="newRelationship.notes"
              value=this.notes}}
          </div>
        </div>

        <div class="cancel">
          <button class="btn btn-default">
            {{#link-to 'contact' this.contact}}
              cancel
            {{/link-to}}
          </button>  
        </div>

        <div class="save-button">
          <button id="save-relationship" class="btn btn-default " {{action "saveRelationship"}}>
            Save
          </button>
        </div>
      </div>

      {{#if errors.length}}
        <ul class="errors">
          {{#each errors}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      {{/if}}