{{#unless allContacts}}
  <div id="no-contacts">
    <b>Welcome!</b><br/>There are no {{pluralize role}} here.
    {{#link-to 'contacts.new' "" class="btn btn-default add-client"}}
      Add a {{role}}
    {{/link-to}}
  </div>
{{/unless}}

{{#if showClientDashboard}}
  <div class="dashboard">
    {{#toggled-feature name='fieldOp'}}
      <section class="clients-report row">
        <div class="col-lg-6">
          <h3>Clients by Field Op</h3>
          <table id="field-ops" class="table">
            {{#each user in assignableUsers}}
              <tr>
                <td><b>{{user.name}}</b></td>
                <td>{{user.contacts.length}}</td>
              </tr>
            {{/each}}
            <tr>
              <td><b>Unassigned</b></td>
              <td>{{unassignedContactCount}}</td>
            </tr>
          </table>
        </div>
      </section>
    {{/toggled-feature}}

    <section {{bind-attr class=":connections-report hasConnections:visible"}}>
      <h3>Client Connections Made in {{selectedYear}}</h3>

      {{#if hasMultipleYears}}
        <div class="year-selection">
          {{#each year in connectionsByMonth}}
            <button {{action "setYear" year.year}} class="btn btn-default">{{year.year}}</button>
          {{/each}}
        </div>
      {{/if}}

      <div class="data">
        <table class="table"><tbody>
          <tr>
            <th></th>
            {{#each month in currentYearConnections.months}}
              <th>{{month.name}}</th>
            {{/each}}
            <th class="year-column">{{currentYearConnections.year}}</th>
          </tr>

          {{#each mode in connectionModes}}
            <tr>
              <th>{{mode}}</th>
              {{#each month in currentYearConnections.months}}
                <td>
                  {{connections-length month.connections modeBinding="mode"}}
                </td>
              {{/each}}
              <td class="year-column">
                {{connections-length currentYearConnections.connections modeBinding="mode"}}
              </td>
            </tr>
          {{/each}}

          <tr class="totals-row">
            <th>Total</th>
            {{#each month in currentYearConnections.months}}
                <td>
                  {{month.connections.length}}
                </td>
            {{/each}}
            <td class="year-column">
              <b>{{currentYearConnections.connections.length}}</b>
            </td>
          </tr>
        </tbody></table>
      </div>
    </section>

    <section {{bind-attr class=":connections-report hasConnections:visible"}}>
      <p>You've recorded <b>{{allConnections.length}}</b> all-time connections.  Keep it up!</p>
    </section>
  </div>
{{/if}}
