<div class="date-field form-group">
  {{view "select"
    class="form-control date-field selected-month"
    content=months
    optionValuePath="content.id"
    optionLabelPath="content.name"
    value=selectedMonth
    prompt="Month"}}

  {{view "select"
    class="form-control date-field selected-day"
    content=days
    selection=selectedDay
    prompt="Day"}}

  {{view "select"
    class="form-control date-field selected-year"
    content=years
    selection=selectedYear
    prompt="Year"}}

  {{#if includeTime}}
    at
    <div class="time">
      {{view "select"
        class="form-control date-field selected-hours"
        content=hours
        selection=selectedHour}}

      {{view "select"
        class="form-control date-field selected-minutes"
        content=minutes
        selection=selectedMinute}}

      {{view "select"
        class="form-control date-field selected-am-pm"
        content=amPm
        selection=selectedAmPm}}
    </div>
  {{/if}}
</div>
