{{#if enabled}}
  <div class="add-model-form">
    <div class="connection-top-row">
      <div class="connection-date-span">
        {{date-field id="new-connection-date"
          date=newConnection.occurredAt}}
      </div>
      <div class="form-group connection-mode-span">
        {{view "select"
          class="form-control connection-mode"
          content=connectionModes
          id="new-connection-mode"
          value=newConnection.mode}}
      </div>
    </div>

    <div class="form-group">
      {{focused-textarea
        id="new-connection-note"
        class="form-control"
        placeholder="Where? What happened? Any thing they need?"
        valueBinding="newConnection.note"}}
    </div>


    {{#if isSaving}}
      <div class="spin-button">
        <i class="icon-loading animate-spin"></i>
      </div>
    {{else}}
      <div class="save-button">
        <button id="save-connection" class="btn btn-default" {{action "saveConnection"}}>
          Save Connection
        </button>
      </div>
    {{/if}}
  </div>

  {{#if errors.length}}
    <ul class="errors">
      {{#each error in errors}}
        <li>{{error}}</li>
      {{/each}}
    </ul>
  {{/if}}
{{/if}}

