<div id="app">
  <h2 id='title'>Welcome to Ember.js</h2>

  {{#if session.isAuthenticated}}
    <div id="logged-in">Logged in</div>
    <div id="current-user">{{session.username}}</div>
    <button {{action "invalidateSession"}} id="logout">logout</button>

    {{outlet}}
  {{else}}
    {{outlet}}
  {{/if}}
</div>