<header>
  <div id="topbar" class="clearfix">
    <a {{bind-attr class=":search-button isSearchShowing:active"}}
       {{action "toggleSearch"}}>
      <i class="icon-search"></i>
    </a>

    <a class="new-button" {{action "newRecord"}}>
      <i class="icon-plus"></i>
    </a>

    <div class="logo">
      <h1>
        {{#link-to 'contacts' class="title"}}
          Grezha
        {{/link-to}}
      </h1>
    </div>

    <a class="button-spacer" {{action "newRecord"}}>
      <i class="icon-plus"></i>
    </a>

    <a {{bind-attr class=":menu-button isMenuShowing:active"}}
       {{action "toggleMenu"}}>
      <i class="icon-menu"></i>
    </a>

    <nav {{bind-attr class="isMenuShowing:showing"}}>
      <ul class="links">
        <li>
          {{#link-to 'contacts' 'clients' id="clients-link"}}
            Clients ({{allClients.length}})
          {{/link-to}}
        </li>

        {{#toggled-feature name='volunteers' tagName='li'}}
          {{#link-to 'contacts' 'volunteers'}}
            Volunteers ({{allVolunteers.length}})
          {{/link-to}}
        {{/toggled-feature}}

        {{#toggled-feature name='events' tagName='li'}}
          {{#link-to 'events' id="events-link"}}
            Events
          {{/link-to}}
        {{/toggled-feature}}

        {{#toggled-feature name='vehicles' tagName='li'}}
          {{#link-to 'vehicles'}} Vehicles {{/link-to}}
        {{/toggled-feature}}

        {{#if apiConnection.online}}
          <li>{{#link-to 'birthdays'}}Birthdays{{/link-to}}</li>
        {{/if}}
      </ul>

      <div class="mobile-only">
        <div class="account-info">
          {{session.username}} - {{session.organization}}
        </div>

        <ul class="account-links">
          <li class="reset-password">
            {{#link-to 'reset-password' 'current-user'}}
              Reset Password
            {{/link-to}}
          </li>
          <li>
            <a href {{action "invalidateSession"}} id="logout">
              Logout
            </a>
          </li>
        </ul>
      </div>

      <div class="login-info">
        {{#unless apiConnection.online}}
          <div class="offline">
            Offline
          </div>
        {{/unless}}

        {{#unless isProduction}}
          <div class="environment">
            {{environment}}
          </div>
        {{/unless}}

        <div class="organization">
          {{#if session.admin}}
            <a target="_blank" href="{{unbound adminURL}}">
              {{session.organization}}
              <i class="icon-cog"></i>
            </a>
          {{else}}
            {{session.organization}}
          {{/if}}
        </div>

        <div {{bind-attr class=":dropdown apiConnection.online:online:offline"}}>
          <a data-toggle="dropdown" id href="#">
            <span id="username">{{session.username}}</span>
            <span class="caret"></span>
          </a>

          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li class="reset-password">
              {{#link-to 'reset-password' 'current-user'}}
                Reset Password
              {{/link-to}}
            </li>
            <li class="divider"></li>
            <li>
              <a href {{action "invalidateSession"}} id="logout">
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>

<div id="content">
  {{outlet}}
</div>
