<div id="sidebar" {{bind-attr class="isSearchShowing:showing"}}>
  <div class="controls">
    <div class="searchbar">
      <i class="icon-search"></i>
      {{input type="text"
        id="contact-search"
        class="form-control"
        value=filterQuery}}
      {{searchFilter}}
    </div>

    <div class="search-title mobile-only">
      clients
    </div>

    <div class="new-contact">
      <a class="btn btn-default" {{action 'newContact'}}>
        Add {{newModelText}}
      </a>
    </div>
  </div>

  <div class="searchlist">
    <ul class="contacts">
      {{#each contact in filteredCollection}}
        <li class="contact">
          {{#link-to 'contact' contact}}
            {{search-result filterItem=contact filterQuery=filterQuery}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div id="main-panel">
  {{outlet}}
</div>

{{!-- TODO: Find a place for this. --}}
{{#if notice}}
  <div id="notice" class="notice login">
    {{notice}}
  </div>
{{/if}}
