<div id="sidebar" {{bind-attr class="isSearchShowing:showing"}}>
  <div class="controls">
    <div class="searchbar">
        <i class="icon-search"></i>
        {{input type="text" class="form-control" id="vehicle-search" value=filterQuery}}
        {{searchFilter}}
    </div>

    <div class="search-title mobile-only">
      vehicles
    </div>

    <div class='new-vehicle'>
      <a class="btn btn-default" {{action 'newVehicle'}}>
        Add {{newModelText}}
      </a>
    </div>
  </div>

  <div class="searchlist">
    <ul class="vehicles">
      {{#each vehicle in filteredCollection}}
        <li class="vehicle">
          {{#link-to 'vehicle' vehicle}}
            {{vehicle.licensePlate}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div id="main-panel">
  {{outlet}}
</div>