- if flash[:errors]
  .dl
    - flash[:errors].each do |errorType, errorMessages|
      .dd
        = errorType
      - errorMessages.each do |errorMessage|
        .dt
          = errorMessage
= @errors 
= form_for @user do |f|
  = f.label :name
  = f.text_field :name
  = f.label :email
  = f.text_field :email
  = f.label :password
  = f.text_field :password
  = f.submit
