
<div id="top-panel" class="clearfix">
  <div class="left">
    <h3>Create User</h3>
  </div>

  <div class="right">
    <%= button_to 'Cancel', users_path, {class: "btn btn-link", method: :get} %>
  </div>
</div>

<div id="main-panel" class="skinny">
  <% if flash[:errors] %>
    <div class="errors">
      <% flash[:errors].each do |type, message| %>
        <p><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <%= form_for @user do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.text_field :password, class: "form-control" %>
    </div>

    <%= f.submit class: "btn btn-default" %>
  <% end %>
</div>