<div class="autocomplete">
  {{enriched-textfield
      type="text"
      id="newRelationshipName"
      class="form-control"
      value=value
      upArrow="moveHighlightUp"
      downArrow="moveHighlightDown"
      escape="hideSuggestions"
      enter="selectSuggestion"
      chromeAutocomplete="off"}}

  <ul {{bind-attr class=":suggestions isAutocompleting:active"}}>
    {{#each activeSuggestions}}
      <li {{action "highlightSuggestion" this on="mouseEnter"}}>
        <a {{bind-attr class="isHighlighted:highlighted"}}
           {{action "selectSuggestion" this}}>
          {{name}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>
