<div class="connections">
  <div class="section-header">
    <div class="right">
      {{#if addingConnection}}
      <button class="btn btn-link" {{action "cancelNewConnection"}}>
        Cancel
      </button>
      {{else}}
      <button id="add-connection" class="btn btn-default" {{action "newConnection"}}>
        Add Connection
      </button>
      {{/if}}
    </div>

    <div class="left">
      <h4>Connections</h4>
    </div>
  </div>

  {{#if addingConnection}}
  {{partial "partials/connection_new"}}

  {{#if errors.length}}
  <ul class="errors">
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
  {{/if}}
  {{/if}}

  {{#each contact.sortedConnections}}
    {{connection-panel connection=this}}
  {{else}}
  <p> There are no connections for this person. </p>
  {{/each}}

</div>
