{{partial "partials/confirmation"}}

<div class="connection clearfix">
  <div class="date">
    <div class="day">{{formatShortDate connection.occurredAt}}</div>
    <div class="year">{{formatYear connection.occurredAt}}</div>
  </div>
  <div class="mode">
    {{connection.mode}}
  </div>
  <div class="body">
    <div class="note">{{breaklines connection.note}}</div>

    {{#control-group name="options"}}
      <button class="btn btn-link delete-connection" {{action "deleteConnection"}}>
        <i class="fa fa-trash-o"></i>
        Delete
      </button>
    {{/control-group}}
  </div>
</div>
