{{partial "partials/confirmation"}}

<div class="relationship">
  <div class="summary">
    <div class="left">
      <div class="name">{{relationship.name}}</div>
      <div class="type">{{relationship.relationshipType}}</div>
    </div>

    <div class="right">
      {{breaklines relationship.contactInfo}}
        {{#control-group name="options"}}
          <button class="btn btn-link delete-relationship" {{action "deleteRelationship"}}>
            <i class="fa fa-trash-o"></i>
            Delete
          </button>
        {{/control-group}}
    </div>
  </div>

  <div class="body">
    <div class="notes">
      {{breaklines relationship.notes}}
    </div>

  
  </div>
</div>