{{partial "partials/confirmation"}}

<div class="relationship">
  <div class="summary">
    <div class="left">
      <div class="name">
        {{relationship.person.name}}
      </div>
      <div class="type">{{relationship.person.role}}</div>
      {{#link-to 'relationship.edit' relationship }}
          edit
      {{/link-to}}
    </div>

    <div class="right">
      {{breaklines relationship.person.contactInfo}}
        {{#control-group name="options"}}
          <button class="btn btn-link delete-relationship" {{action "deleteRelationship"}}>
            <i class="fa fa-trash-o"></i>
            Remove
          </button>
        {{/control-group}}
    </div>
  </div>

  <div class="body">
    <div class="notes">
      {{breaklines relationship.person.notes}}
    </div>
  </div>
</div>