<div class="vehicle-panel">
  {{partial "partials/confirmation"}}

  {{#control-group name="options"}}
    {{#link-to 'vehicle.edit' model}}
      <i class="fa fa-pencil"></i>
      Edit
    {{/link-to}}
    <a href {{action "deleteVehicle"}}>
      <i class="fa fa-trash-o"></i>
      Delete
    </a>
  {{/control-group}}

  <h3>
    #{{licensePlate}}
  </h3>

  <div class="used-by">
    {{#if usedBy}}
      driven by {{usedBy}}
    {{else}}
      unknown driver
    {{/if}}
  </div>

  <div class="notes">
    <b>notes:</b><br/>
    {{breaklines notes}}
  </div>
</div>
