<div class="vehicle-panel">
  {{partial "partials/confirmation"}}

  <div class="options">
    {{#link-to 'vehicle.edit' model}}Edit{{/link-to}}
    <a href {{action "deleteVehicle"}}>Delete</a>
  </div>

  <h3>
    #{{licensePlate}}
  </h3>

  <div class="used-by">
    {{#if usedBy}}
      driven by {{usedBy}}
    {{else}}
      unknown driver
    {{/if}}
  </div>

  <div class="notes">
    <b>notes:</b><br/>
    {{breaklines notes}}
  </div>
</div>
