<% if @birthday_month %>
  <h2><%= Date::MONTHNAMES[@birthday_month.to_i] %> Birthdays</h2>

  <b>Change Month:</b>
  <% birthday_options = (1..12).map { |mid| [Date::MONTHNAMES[mid], mid] } %>
  <%= select_tag(:birthday_month, options_for_select(birthday_options, @birthday_month)) %>

  <br/><br/>
<% end %>

<% if @contacts.empty? %>
  <p> None found! </p>
<% end %>

<% @contacts.each do |contact| %>
  <a href="<%= contact_path(contact) %>" class="contact-row clearfix">
    <div class="picture">
      <%= contact_picture_tag(contact, :thumb) %>
    </div>
    <div class="name">
      <%= format_name(contact) %>
    </div>
  </a>
<% end %>
<br/><br/>

  <%= link_to 'Add Contact', new_contact_path %>
