<!DOCTYPE html>
<html <%= manifest_tag %> >
<head>
  <title>Jeremiah</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>
    $(function(){
      new App({el: $("#app")});
    });
  </script>
</head>
<body>

<header class="clearfix">
  <%= link_to "Jeremiah", root_path, :class => "title" %>

  <div class="login-info">
    <% if logged_in? %>
      <%= current_user.name %> -  <%= link_to "Logout", logout_path, method: "delete" %>
    <% else %>
      Not Logged In
    <% end %>
  </div>
</header>

<div id="app">
</div>

</body>
</html>
