<div id="event-details-page">
  <div class="control-bar">
    <div class="options">
      {{#if apiConnection.online}}
        {{#if isLogged}}
          {{#link-to 'event.log' model id='modify-event-log'}}
            <i class="icon-pencil"></i>
            Modify Event Log
          {{/link-to}}
        {{/if}}

        {{#link-to 'event.edit' model id='edit-event'}}
          <i class="icon-pencil"></i>
          Edit Details
        {{/link-to}}

        <a href {{action "deleteEvent"}} id="delete-event">
          <i class="icon-trash delete-contact"></i>
          Delete
        </a>
      {{/if}}
    </div>
  </div>

  <h2>{{name}}</h2>

  {{ partial "partials/confirmation" }}

  <div class="event-details">
    <div class="event-information">
      <div class="date">{{format-day startsAt}} {{format-time startsAt}}</div>
      {{#if location}}
        <div class="location">
          at {{location}}
        </div>
      {{/if}}
      {{#if program}}
        <div class="program">
          {{program.name}}
        </div>
      {{/if}}

      {{#if notes}}
        <div class="notes">
          {{break-lines notes}}
        </div>
      {{/if}}
    </div>

    {{#if isLogged}}
      <div class="event-log">
        <h3>Event Log</h3>
        <p id="log-notes">
          {{#if logNotes}}
            {{logNotes}}
          {{else}}
            This event has happened.
          {{/if}}
        </p>

        <h3>Attendees (<span id="total-attendee-count">{{totalAttendeeCount}}</span>)</h3>
        <ul class="attendees">
          {{#each participation in confirmedParticipations}}
            <li class="attendee">
              {{participation.contact.name}}
            </li>
          {{/each}}

          <li>
            {{#if confirmedParticipations}}
              {{#if otherAttendeeCount}}
                and {{otherAttendeeCount}} other attendees
              {{/if}}
            {{else}}
              {{#if otherAttendeeCount}}
                {{otherAttendeeCount}} unnamed attendees
              {{else}}
                no recorded attendees.
              {{/if}}
            {{/if}}
          </li>
        </ul>
      </div>
    {{else}}
      <div class="event-registrations">
        <h3>Registered Participants</h3>

        <div class="form-group">
          {{autocomplete-field
              inputId="add-registration"
              inputClass="form-control"
              value=newRegistrationName
              suggestions=contacts
              queryProperty="name"
              subtextProperty="role"
              resetAfterSelect=true
              placeholder="Add registration"
              onSelect="addRegistration"}}
        </div>

        <ul class="registration-list">
          {{#each participation in sortedRegistrations}}
            {{event-registration participation=participation}}
          {{else}}
            <li class="no-registrations">
              Nobody's registered for this event.
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </div>
</div>

