<div id="log-event-page">
  <div class="control-bar">
    <div class="options">
      {{#if isSaving}}
        <div class="spin-button">
          <i class="icon-loading animate-spin"></i>
        </div>
      {{else}}
        <button class="btn btn-default" id="save-log" {{action "saveLog"}}>
          Finish Log
        </button>
      {{/if}}
    </div>
  </div>

  <h2>{{name}}</h2>

  <div class="event-details">
    <div class="event-information">
      <div class="date">{{format-day startsAt}} {{format-time startsAt}}</div>
      {{#if location}}
        <div class="location">
          at {{location}}
        </div>
      {{/if}}
      {{#if program}}
        <div class="program">
          {{program.name}}
        </div>
      {{/if}}
    </div>

    <div class="event-log-notes">
      <h3>How'd it go?</h3>
      <div class="form-group">
        {{textarea id="log-notes" class="form-control" value=logNotes rows="10"}}
      </div>
    </div>

    <div class="event-attendance">
      {{#if unconfirmedRegistrations}}
        <a id="everybody-attended" {{action 'everybodyAttended'}}>
          Everybody!
        </a>
      {{/if}}

      <h3>Who attended?</h3>
      {{#if registrations}}
        <h4 class="registered-attendees">Registered attendees</h4>
        <ul class="registration-list">
          {{#each participation in registrations}}
            {{confirm-registration participation=participation}}
          {{/each}}
        </ul>
      {{/if}}

      {{#if registrations}}
        <h4 class="other-attendees">Other attendees</h4>
      {{/if}}
      <div class="form-group">
        {{autocomplete-field
            inputId="add-participant"
            inputClass="form-control"
            value=newParticipantName
            suggestions=contacts
            queryProperty="name"
            subtextProperty="role"
            resetAfterSelect=true
            placeholder="Add attendee"
            onSelect="addParticipant"}}
      </div>

      <ul class="added-attendees-list">
        {{#each participation in additionalParticipants}}
          {{added-participant participation=participation}}
        {{/each}}
      </ul>

      <div class="form-group">
        and
       {{input type="text"
          id="other-attendee-count"
          class="form-control"
          placeholder="0"
          value=otherAttendeeCount}}
        other people.
      </div>
    </div>
  </div>
</div>

