<div id="content">
  <div class="logo">
    <h1> <%= link_to "Grezha", root_path %> </h1>
  </div>

   <div id="account-box">
    <h3>Forgot Password</h3>
    <p>Don't worry. Just enter your email address and we'll email it to you:</p>

    <%= form_for(User.new, url: "/forgot-password", class: "form-horizontal") do |f| %>

      <div class="form-group">
        <%= f.text_field :email, placeholder: "Email address" %>
      </div>

      <%= f.submit "Send Password", class: "btn btn-default" %>

      <%= link_to "Cancel", root_path, class: "alternate-link btn btn-link" %>
    <% end %>
  </div>

  <% if flash[:alert] %>
     <div class="alert login"><%= flash[:alert] %></div>
  <% end %>
</div>