<header>
  <div id="topbar" class="clearfix">
    <div class="logo">
      <h1>
        {{#link-to 'contacts' class="title"}}
          Grezha
        {{/link-to}}
      </h1>
    </div>

    <nav>
      <ul class="links">
        <li>{{#link-to 'contacts'}} Contacts {{/link-to}}</li>

        {{#feature 'vehicles'}}
          <li> {{#link-to 'vehicles'}} Vehicles {{/link-to}} </li>
        {{/feature}}

        {{#if App.online}}
          <li><a href="/birthdays">Birthdays</a></li>
        {{/if}}
      </ul>

      <div class="login-info">
        {{#unless App.online}}
          <div class="offline">
            Offline -
          </div>
        {{/unless}}

        {{#unless App.isProduction}}
          <div class="environment">
            {{App.environment}}
          </div>
        {{/unless}}

        {{#if App.loggedIn}}
          <div class="organization">
            {{#if App.isAdmin}}
              <a href="/users">
                {{App.organization}}
                <i class="fa fa-cog"></i>
              </a>
            {{else}}
              {{App.organization}}
            {{/if}}
          </div>

          <div class="dropdown">
            <a data-toggle="dropdown" id href="#">
              {{App.currentUser}} <span class="caret"></span>
            </a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <!-- <li class="divider"></li> -->
              <li> {{logout-button}} </li>
            </ul>
          </div>
        {{else}}
          <div class="logged-out">
            Logged out
          </div>
        {{/if}}
      </div>
    </nav>
  </div>
</header>

<div id="content">
  {{outlet}}
</div>