<header>
  <div id="topbar" class="clearfix">
    <div class="logo">
      <h1>
        {{#link-to 'contacts' class="title"}}
          Grezha
        {{/link-to}}
      </h1>
    </div>

    <nav>
      <ul class="links">
        <li>
          {{#link-to 'contacts'}}
            Clients ({{allContacts.length}})
          {{/link-to}}
        </li>

        {{#feature 'vehicles'}}
          <li> {{#link-to 'vehicles'}} Vehicles {{/link-to}} </li>
        {{/feature}}

        {{#if App.online}}
          <li>{{#link-to 'birthdays'}}Birthdays{{/link-to}}</li>
        {{/if}}
      </ul>

      <div class="login-info">
        {{#unless App.online}}
          <div class="offline">
            Offline
          </div>
        {{/unless}}

        {{#unless App.isProduction}}
          <div class="environment">
            {{App.environment}}
          </div>
        {{/unless}}

        {{#if App.loggedIn}}
          <div class="organization">
            {{#if App.isAdmin}}
              <a href="/users">
                {{App.organization}}
                <i class="fa fa-cog"></i>
              </a>
            {{else}}
              {{App.organization}}
            {{/if}}
          </div>

          <div {{bind-attr class=":dropdown App.online:online:offline"}}>
            <a data-toggle="dropdown" id href="#">
              {{App.currentUser}} <span class="caret"></span>
            </a>

            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <li class="reset-password"><a href="/reset-password">Reset Password</a></li>
              <!-- <li class="divider"></li> -->
              <li> {{logout-button}} </li>
            </ul>
          </div>
        {{else}}
          <div class="logged-out">
            Logged out
          </div>
        {{/if}}
      </div>
    </nav>
  </div>
</header>

<div id="content">
  {{outlet}}
</div>

{{#if App.alertText}}
  <div id="alert">
    <p> {{App.alertText}} </p>
  </div>
{{/if}}