<header>
  <div id="topbar" class="clearfix">
    <div class="logo">
      <h1>
        {{#link-to 'contacts' class="title"}}
          Grezha
        {{/link-to}}
      </h1>
    </div>

    <nav>
      <ul>
        <li>{{#link-to 'contacts'}} Contacts {{/link-to}}</li>

        {{#unless App.isDemo}}
          <li> {{#link-to 'vehicles'}} Vehicles {{/link-to}} </li>
        {{/unless}}

        {{#if App.online}}
          <li><a href="/birthdays">Birthdays</a></li>
        {{/if}}
      </ul>

      <div class="login-info">
        {{#unless App.online}}
          Offline -
        {{/unless}}

        {{#unless App.isProduction}}
          <span class="environment">
            {{App.environment}} -
          </span>
        {{/unless}}

        {{#if App.loggedIn}}
          {{App.currentUser}} - {{logout-button}}
        {{else}}
          Logged out
        {{/if}}
      </div>
    </nav>
  </div>
</header>

<div id="content">
  {{outlet}}
</div>