<div id="sidebar" class='pre-scrollable'>
  <div class="searchbar">
        <i class="icon-search"></i>
        {{input type="text" value=filterQuery}}
        {{searchFilter}}
  </div>

  <ul class="contacts">
    

    {{#each filteredContacts}}
      <li class="contact">
        {{#link-to 'contact' this}}
          {{name}}
        {{/link-to}}
      </li>
    {{/each}}

    
  </ul>

<div class="new-contact">
      {{#link-to 'contacts.new' filterQuery }}
        Add {{newContactText}}
      {{/link-to}}
  </div>
</div>


<div id="main-panel">
  {{outlet}}
</div>
