<div id="sidebar">
  <div class="controls">
    <div class="searchbar">
      <i class="icon-search"></i>
      {{input type="text" value=filterQuery}}
      {{searchFilter}}
    </div>

    <div class="new-contact">
      {{#link-to 'contacts.new' filterQuery }}
        Add {{newModelText}}
      {{/link-to}}
    </div>
  </div>

  <ul class="contacts">
    {{#each filteredCollection}}
      <li class="contact">
        {{#link-to 'contact' this}}
          {{name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>

<div id="main-panel">
  {{outlet}}
</div>