<div id="sidebar">
  <ul class="contacts">
    <li class="searchbar">
        <i class="icon-search"></i>
        {{input type="text" value=filterQuery}}
        {{searchFilter}}
    </li>

    {{#each filteredCollection}}
      <li class="contact">
        {{#link-to 'contact' this}}
          {{name}}
        {{/link-to}}
      </li>
    {{/each}}

    <li class="new-contact">
      {{#link-to 'contacts.new' filterQuery }}
        Add {{newModelText}}
      {{/link-to}}
    </li>
  </ul>
</div>

<div id="main-panel">
  {{outlet}}
</div>