<div id="sidebar">
  <div class="controls">
    <div class="searchbar">
      <i class="fa fa-search"></i>
      {{input type="text" id="contact-search" class="form-control" value=filterQuery}}
      {{searchFilter}}
    </div>

    <div class="new-contact">
      {{#link-to 'contacts.new' filterQuery class="btn btn-default"}}
        Add {{newModelText}}
      {{/link-to}}
    </div>
  </div>

  <div class="searchlist">
    <ul class="contacts">
      {{#each filteredCollection}}
        <li class="contact">
          {{#link-to 'contact' this}}
            {{name}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div id="main-panel">
  {{outlet}}
</div>