<div id="sidebar">
  <ul class="vehicles">
    <li class="searchbar">
        <i class="icon-search"></i>
        {{input type="text" value=filterQuery}}
        {{searchFilter}}
    </li>

    {{#each filteredCollection}}
      <li class="contact">
        {{#linkTo 'vehicle' this}}
          {{licensePlate}}
        {{/linkTo}}
      </li>
    {{/each}}

    <li class="new-contact">
      {{#linkTo 'vehicles'}}
        Add {{newModelText}}
      {{/linkTo}}
    </li>
  </ul>
</div>

<div id="main-panel">
  {{outlet}}
</div>