<div class="contact-panel">
  <div class="control-bar clearfix">
    <div class="status">
      {{#unless isRemoteSynced}}
        Unsynced
      {{/unless}}
    </div>

    {{#if apiConnection.online}}
      <div class="options">
        {{#link-to 'contact.edit' model id='edit-contact'}}
          <i class="icon-pencil"></i>
          Edit
        {{/link-to}}

        {{#if session.admin}}
          <a href {{action "deleteClient"}} id="delete-contact">
            <i class="icon-trash delete-contact"></i>
            Delete
          </a>
        {{/if}}
      </div>
    {{/if}}
  </div>

  {{ partial "partials/confirmation" }}

  <div class="clearfix">
    <div class="top-info">
      <h3 id="contact-name">{{name}}</h3>

      {{#toggled-feature name='addedOn'}}
        <div class="contact-id" id="added-at">
          {{#if addedAt}}
            added {{format-date addedAt}}
          {{/if}}
        </div>
      {{/toggled-feature}}

      <div class="attributes">
        {{#toggled-feature name='gender'}}
          <p id="gender">
            <span class="field-label">gender</span>
            {{#if gender}} {{gender}} {{else}} unknown {{/if}}
          </p>
        {{/toggled-feature}}

        <p id="contact-from">
          <span class="field-label">residence</span>
          {{#if city}}
            {{city}}
          {{else}}
            unknown
          {{/if}}
        </p>

        <p id="contact-user">
          <span class="field-label">field op</span>
            {{#if user}}
               {{user.name}}
            {{else}}
               unassigned
            {{/if}}
        </p>

        <p id="contact-birthday">
          <span class="field-label">birthday</span>
          {{#if birthday}}
            {{format-birthday birthday}}
          {{else}}
            unknown
          {{/if}}
        </p>

        <p id="last-seen">
          <span class="field-label">last contact</span>
          {{#if lastSeen}}
            {{format-date lastSeen}}
          {{/if}}
        </p>

        <p id="contact-phone">
          {{#if phone}}
          <span class="field-label">phone</span>
            {{phone}}
          {{/if}}
        </p>

        <p id="contact-email">
          {{#if email}}
          <span class="field-label">email</span>
            {{linkify-emails email}}
          {{/if}}
        </p>
      </div>
    </div>
  </div>

  {{#if bio}}
    <div class="bio">
      {{break-lines bio}}
    </div>
  {{/if}}

  <div id="relationships">
    <div class="section-header">
      <div class="right">
        {{#if addingRelationship}}
          <button id="cancel-new-relationship"
                  class="btn btn-link"
                  {{action "cancelNewRelationship"}}>
            Cancel
          </button>
        {{else}}
          <button id="add-relationship" class="btn btn-default" {{action "newRelationship"}}>
            Add
          </button>
        {{/if}}
      </div>

      <div class="left">
        <h4>Relationships</h4>
      </div>
    </div>

    {{new-relationship contact=model store=store people=allPeople
      enabled=addingRelationship}}

    {{#each relationship in relationships}}
      {{relationship-panel relationship=relationship}}
    {{else}}
       <p> There are no relationships for this person. </p>
    {{/each}}
  </div>

  {{#toggled-feature name='events'}}
    {{#if participations}}
      <div class="section-header">
        <div class="right">
        </div>

        <div class="left">
          <h4>Events ({{participations.length}})</h4>
        </div>
      </div>

      <ul id="contact-events">
        {{#each participation in sortedParticipations}}
          <li class="event">
            <div class="date">
              <div class="day">{{format-short-date participation.event.startsAt}}</div>
              <div class="year">{{format-year participation.event.startsAt}}</div>
            </div>
            <div class="body">
              {{#if participation.isRegistered}}{{#if participation.event.isUpcoming}}
                <span class="registration">Registered for:</span>
              {{/if}}{{/if}}
              <span class="name">{{participation.event.name}}</span>
            </div>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  {{/toggled-feature}}

  {{#unless hideConnections}}
    <div class="connections">
      <div class="section-header">
        <div class="right">
          {{#if addingConnection}}
            <button id="cancel-add-connection"
                  class="btn btn-link"
                  {{action "cancelNewConnection"}}>
              Cancel
            </button>
          {{else}}
            <button id="add-connection" class="btn btn-default"
               {{action "newConnection"}}>
              Add
            </button>
          {{/if}}
        </div>

        <div class="left">
          <h4>
            <a {{action "filterMode" null}}>
              Connections
              ({{connections.length}})
            </a>
          </h4>

          {{#each mode in connectionModes}}
            {{connection-mode
                mode=mode
                contact=model
                selected=filterByMode
                onSelect="filterMode"}}
          {{/each}}
        </div>
      </div>

      {{new-connection enabled=addingConnection contact=model store=store}}

      {{#each connection in connectionsToShow}}
        {{connection-panel connection=connection}}
      {{else}}
        <p> There are no connections for this person. </p>
      {{/each}}
    </div>
  {{/unless}}

</div>

