<!DOCTYPE html>
<html <%= manifest_tag %> >
<head>
  <title>Jeremiah 29:11</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>
    // Run the Javascript associated with this page
    jQuery(function() {
      window.App = new (Daughters["<%= params[:controller].titlecase %>"] || Daughters.Base)
        (<%= @bootstrap_data %>);

      if (typeof App["<%= params[:action] %>"] === 'function') {
        return App["<%= params[:action] %>"].call();
      }
    });
  </script>
</head>
<body>

<header class="clearfix">
  <%= link_to "Jeremiah 29:11", root_path, :class => "title" %>

  <div class="login-info">
    <% if logged_in? %>
      <%= current_user.name %> -  <%= link_to "Logout", logout_path, method: "delete" %>
    <% else %>
      Not Logged In
    <% end %>
  </div>
</header>

<div id="flash">
  <% if flash[:alert] %>
    <div class="alert">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <% if flash[:notice] %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>

<div id="content">
  <%= yield %>
</div>

</body>
</html>
