<!DOCTYPE html>
<html <%= manifest_tag %>>
<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : "Grezha" %>
  </title>
  <link href='http://fonts.googleapis.com/css?family=Redressed' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= render partial: "setup/rollbar" %>

  <script>
    <%= yield :javascript_setup %>
  </script>

  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= content_for?(:content) ? yield(:content) : yield %>

</body>
</html>
