<!DOCTYPE html>
<html <%= manifest_tag %> >
<head>
  <title>Grezha</title>
  <link href='http://fonts.googleapis.com/css?family=Redressed' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="clearfix">
  <h1>
    <%= link_to "Grezha", root_path, :class => "title" %>
  </h1>

  <nav>
    <% if logged_in? %>
      <ul>
        <li> <%= link_to "Contacts", root_path + "#/contacts" %> </li>
        <li> <%= link_to "Vehicles", root_path + "#/vehicles" %> </li>
        <li> <%= link_to "Birthdays", birthdays_path %> </li>
      </ul>
    <% end %>
  </nav>

  <div class="login-info">
    <% if logged_in? %>
      <%= current_user.name %> - <%= link_to "Logout", logout_path, method: "delete" %>
    <% else %>
      Not Logged In
    <% end %>
  </div>
</header>

<div id="content">
  <%= yield %>
</div>

</body>
</html>
